.allTasksContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.taskContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;

    border: 1px solid var(--defaultContainerBorder1);
    border-radius: 5px;
    overflow: hidden;

    animation: cadTask 0.5s ease forwards;
    will-change: height, opacity;
}

@keyframes cadTask {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 130px;
        opacity: 1;
    }
}

.taskContents {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.taskTitle {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--defaultContainerBorder1);
}

.taskCategories {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.taskSituationPendente {
    padding: 0 3px 0 3px;
    border-radius: 10px;
    border: 1px solid #ff3838;
    text-align: center;
    box-shadow: 0 0 5px #ff383862;

    transition: 0.3s;
}

.taskSituationCompleted {
    padding: 0 3px 0 3px;
    border-radius: 10px;
    border: 1px solid #11c011;
    text-align: center;
    box-shadow: 0 0 5px #11c0116c;

    transition: 0.3s;
}

.taskSituationReab {
    padding: 0 3px 0 3px;
    border-radius: 10px;
    border: 1px solid #fc940c;
    text-align: center;
    box-shadow: 0 0 5px #fc940c70;

    transition: 0.3s;
}

.btnContainer {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}