.allTasksContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.taskContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;

    border: 1px solid var(--defaultContainerBorder1);
    border-radius: 5px;
    overflow: hidden;

    animation: cadTask 0.5s ease forwards;
    will-change: height, opacity;
}

@keyframes cadTask {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 130px;
        opacity: 1;
    }
}

.taskContents {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.taskTitle {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--defaultContainerBorder1);
}

.taskCategories {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.btnContainer {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}